body {
    background-color: #ccf;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 20px;
    text-align: justify;
}

.error {
    color: red;
    text-align: center;
    font-size: 140%;
}
